html {
    background-image: linear-gradient(to right, #FFECD2, #FCB69F, #A9F1DF , #FFBBBB, #A9F1DF, #FCB69F, #FFECD2);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#music-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.2rem;
    text-align: center;
}
p {
    color:white;
    background: rgba(64, 165, 151, 0.434);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.747);
    box-shadow: 0 0 10px 5px #2bd9e2 ,
            0 0 20px 7px #ebecca,
            0 0 25px 20px #A9F1DF,
            0 0 30px 25px #ff1493;
}
h2 {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.747);
}
a {
    font-size: large;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 3px rgb(254, 1, 238);
}
a:hover{
    text-shadow: 0 0 3px white;
}
#return { 
    padding: 0.6em 2em; 
    vertical-align: 45%;
    border: none; 
    outline: none; 
    color: rgb(255, 255, 255); 
    background: #111; 
    cursor: pointer; 
    position: relative; 
    z-index: 0; 
    border-radius: 10px; 
    user-select: none; 
    -webkit-user-select: none; 
    touch-action: manipulation; 
} 
#return:before {
    content: ""; 
    background: linear-gradient( 45deg, #FFBBBB, #EA8D8D,  #FFC371, #BFF098, #A9F1DF , #909df0 , #D8B5FF, #FFBBBB, #EA8D8D ); 
    position: absolute; 
    top: -2px; 
    left: -2px; 
    background-size: 400%; 
    z-index: -1; 
    filter: blur(5px); 
    -webkit-filter: blur(5px); 
    width: calc(100% + 4px); 
    height: calc(100% + 4px); 
    animation: glowing-button 20s linear infinite; 
    transition: opacity 0.3s ease-in-out; border-radius: 10px; 
} 
    @keyframes glowing-button { 0% { background-position: 0 0; 
    } 50% { background-position: 400% 0; 
    } 100% { background-position: 0 0; } } 
